<app>
   <server>
      <remoteServerIp>192.168.0.121</remoteServerIp>
      <remoteServerPort>9090</remoteServerPort>
      <remoteHttpUrl>http://192.168.0.121:8080</remoteHttpUrl>
   </server>
   <client>
      <version>1.0.0</version>
   </client>
   <privacy>
      <userId>1001</userId>
   </privacy>
</app>